# Botnoi Configuration
VITE_BOT_ID=69fc338bfb3079f00790f761
VITE_WEBHOOK_URL=https://api-gateway.botnoi.ai/webhook/custom/69fc338bfb3079f00790f761
VITE_SIGNING_SECRET=your_signing_secret_here

# Server Configuration
VITE_WEBHOOK_SERVER_URL=http://localhost:3002
